{% extends 'base.html' %}

{% block content %}
<h1>Lira Boletim Data</h1>
<p>{{ object_list.1.boletim.id_boletim}}</p>
<a href="{% url 'lira_boletim_dado_create' pk=object_list.1.boletim.id_boletim %}">Create New Lira Boletim Data</a>
<ul>
    {% for lira_boletim_dado in object_list %}
    <li>
        <a href="{% url 'lira_boletim_dado_detail' lira_boletim_dado.id_dado %}">{{ lira_boletim_dado }}</a>
        <p>{{ lira_boletim_dado.boletim.id_boletim }}</p>
    </li>
    {% endfor %}
    
</ul>
{% endblock %}