{% extends 'base.html' %}

{% block content %}
<h1>Lista de Dados do Boletim {{ pk }}</h1>


<a href="{% url 'lira_boletim_dado_create' pk %}">Create New Lira Boletim Data</a>
<ul>
    {% for lira_boletim_dado in object_list %}
    <li>

        <a href="{% url 'lira_boletim_dado_detail' lira_boletim_dado.id_dado %}">{{ lira_boletim_dado }}</a>
        Quart: {{ lira_boletim_dado.quart }} End: {{ lira_boletim_dado.rua }} Num do imóvel: {{ lira_boletim_dado.numero}} Num de tubitos: {{lira_boletim_dado.num_tubitos }}
        <a href="{% url 'lira_boletim_dado_update' lira_boletim_dado.id_dado %}">Editar</a>
        <a href="{% url 'lira_boletim_dado_delete' lira_boletim_dado.id_dado %}">Deletar</a>
    </li>
    {% endfor %}

</ul>
{% endblock %}