{% extends 'base.html' %}

{% block content %}
<h1>Bairros</h1>
<a href="{% url 'bairro_create' %}" class="btn btn-secondary mb-3">Create new Bairro</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Sigla</th>            
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for bairro in object_list %}
        <tr>
            <td>{{ bairro.sigla }}</td>
            <td>{{ bairro.nome }}</td>
            <td>
                <a href="{% url 'bairro_update' bairro.id %}" class="btn btn-primary btn-sm">Update</a>
                <a href="{% url 'bairro_delete' bairro.id %}" class="btn btn-danger btn-sm" >Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">Nenhum bairro encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}