{% extends 'base.html' %}

{% block content %}
<section class="container mt-2 ">
    <h2 class="text-uppercase text-center">Dados do Boletim : {{ boletim }} 
        <a class='btn btn-secondary' href="{% url 'lira_boletim_dado_create' pk  %}">Adicionar Dados no Boletim</a>
        <a class='btn btn-success' href="{% url 'lira_boletim_list' %}">Voltar</a>
    </h2>
    <div class="container mt-4 ">
        <strong>Bairro:</strong> {{ boletim.bairro }} <strong>Extrato:</strong> {{boletim.extrato }}
        <strong>Numero de imóveis :</strong> {{ object_list.count }} <strong>Numero de quarteirões :</strong> {{ quarteiroes }}
        <strong>Numero de tubitos :</strong> {{ tubitos_total }}
        

    </div>
    

</section>

<div class="container mt-4">
    <table class="table table-striped">
        <caption>Dados do Boletim</caption>
        <thead class="thead-dark">
            <tr>
                <th scope="col">Imóvel</th>
                <th scope="col">Quarteirão</th>
                <th scope="col">Rua</th>
                <th scope="col">Imovel</th>
                <th scope="col">Num. Tubitos</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for lira_boletim_dado in object_list %}
            <tr>
                <th scope="row"><a href="{% url 'lira_boletim_dado_detail' lira_boletim_dado.id_dado %}">{{ lira_boletim_dado }}</a></th>
                <td>{{ lira_boletim_dado.quart }}</td>
                <td>{{ lira_boletim_dado.rua }}</td>
                <td>{{ lira_boletim_dado.numero}}</td>
                <td>{{lira_boletim_dado.num_tubitos }}</td>                
                <td>
                    <a type="submit" class="btn-sm btn-warning "
                        href="{% url 'lira_boletim_dado_update' lira_boletim_dado.id_dado %}" method="POST">Editar</a>
                    <a type="submit" class="btn-sm btn-danger "
                        href="{% url 'lira_boletim_dado_delete' lira_boletim_dado.id_dado %}" method="POST">Exluir</a>
                </td>
            </tr>
            <!-- If object_list is empty -->
            {% empty %}
            <h1>No objects Find</h1>

            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}