{% extends 'base.html' %}

{% block content %}
<section class="container ">
    <h2 class="text-uppercase text-center">Dados do Boletim : {{ object }}</h2>
    <a class='btn btn-secondary' href="{% url 'lira_boletim_dado_create' pk  %}">Adicionar Dados no Boletim</a>
</section>

<div class="container">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Quarteirão</th>
                <th scope="col">Rua</th>
                <th scope="col">Imovel</th>
                <th scope="col">Num. Tubitos</th>
                <th scope="col">Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for lira_boletim_dado in object_list %}
            <tr>
                <th scope="row"><a href="{% url 'lira_boletim_dado_detail' lira_boletim_dado.id_dado %}">{{ lira_boletim_dado }}</a></th>
                <td>{{ lira_boletim_dado.quart }}</td>
                <td>{{ lira_boletim_dado.rua }}</td>
                <td>{{ lira_boletim_dado.numero}}</td>
                <td>{{lira_boletim_dado.num_tubitos }}</td>                
                <td>
                    <a type="submit" class="btn-sm btn-warning "
                        href="{% url 'lira_boletim_dado_update' lira_boletim_dado.id_dado %}" method="POST">Editar</a>
                    <a type="submit" class="btn-sm btn-danger "
                        href="{% url 'lira_boletim_dado_delete' lira_boletim_dado.id_dado %}" method="POST">Exluir</a>
                </td>
            </tr>
            <!-- If object_list is empty -->
            {% empty %}
            <h1>No objects Find</h1>

            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}