<div class="navbar navbar-expand-lg bg-success " data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarColor02">
            <ul class="navbar-nav me-auto ">

                {% if user.is_authenticated and user.is_staff is False %}
                <li class="nav-item " data-toggle="pill">
                    <a class="nav-link" href="{% url 'lira_boletim_list' %}">Home</a>
                </li>
                <li class="nav-item" data-toggle="pill">
                    <a class="nav-link" href="{% url 'sobre' %}">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Olá {{ user.username }}!</a>
                </li>
                
                {% elif user.is_authenticated and user.is_staff %}
                <li class="nav-item " data-toggle="pill">
                    <a class="nav-link" href="{% url 'lira_boletim_list' %}">Home</a>                    
                </li>
                <li class="nav-item" data-toggle="pill">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>                
                <li class="nav-item" data-toggle="pill">
                    <a class="nav-link" href="{% url 'registrar' %}">registar Ace</a>
                </li>                
                <li class="nav-item" data-toggle="pill">
                    <a class="nav-link" href="{% url 'sobre' %}">Sobre</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" href="">Hi {{ user.username }}!</a>
                </li>
                
                {% else %}
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sobre">Sobre</a>
                </li>

                {% endif %}
            </ul>  

        </div>
        <div >
            {% if user.is_authenticated %}
            <form class="d-flex" action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="nav-link btn btn-success " type="submit">Logout</button>
            </form>
            {% endif %}
        </div>
        
    </div>
</div>